body, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  /* font-weight: 1000; */
  letter-spacing: 0.5rem;
}

section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  border-bottom: 1px solid #333 
}

footer {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

@media (min-width: 550px) {
  .container {
      width: 95%;
  }
}

.centered {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

.vert-centered > * {
  vertical-align: middle;
}

.row {
  margin-bottom: 2.5rem;
}
